<div class="login-container">
  <h2>Login</h2>

  <form (ngSubmit)="login()" novalidate>
    <div class="form-group">
      <label for="email">Email*</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="loginModel.email"
        name="email"
        (blur)="emailTouched = true"
        required
        autocomplete="username"
        class="form-control"
      />
      <div *ngIf="emailTouched && !emailValid" class="error-message">
        Please enter a valid email address.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password*</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="loginModel.password"
        name="password"
        (blur)="passwordTouched = true"
        required
        autocomplete="current-password"
        class="form-control"
      />
      <div *ngIf="passwordTouched && !passwordValid" class="error-message">
        Password is required.
      </div>
    </div>

    <p *ngIf="loginError" class="login-error">
      {{ loginError }}
    </p>

    <button type="submit" [disabled]="!formValid" class="btn btn-primary">
      Login
    </button>
  </form>

  <p class="register-link">
    Don't have an account? <a routerLink="/register">Register here</a>
  </p>
</div>
