<!-- Navbar -->
<nav class="navbar">
  <div class="navbar-brand">Turf Booking</div>
  <ul class="navbar-links">
   <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
    <li *ngIf="isLoggedIn && userRole === 'ADMIN'"><a routerLink="/admin">Admin Panel</a></li>
    <li *ngIf="isLoggedIn && userRole === 'USER'"><a routerLink="/user">User Dashboard</a></li>
    <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
  </ul>
</nav>